[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/poojagfisglobal/Desktop/code.desktop]
row=3
col=1

[/home/poojagfisglobal/Desktop/MyRepository]
row=0
col=2

[/home/poojagfisglobal/Desktop/postman.desktop]
row=1
col=1

[/home/poojagfisglobal/Desktop/Notes]
row=1
col=2

[/home/poojagfisglobal/Desktop/SoapUI-5.5.0.desktop]
row=3
col=0

[/home/poojagfisglobal/Desktop/jmeter.desktop]
row=0
col=1

[/home/poojagfisglobal/Desktop/eclipse.desktop]
row=2
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/poojagfisglobal]
row=2
col=0

