[Desktop Entry]
Version=1.0
Type=Application
Name=Visual Studio Code
Icon=/opt/code.png
Exec=code
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=visual-studio-code